*main.py
*tests.py
*main.c
*linked_lists.c
a.out
*.pyc
*_[0-9].py
100-test_lists.py
6-max_integer.py
*.so
[^0-9]*[0-9].txt
my_first_file.txt
file_append.txt
*.json
8-my_class.py
101-generator.py
test.txt
0x0D-SQL_introduction/temperatures.sql
*main.js
file*
*-data.js
0x10-python-network_0/test.py
my_json*
0x14-javascript-web_scraping/loripsum
